@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme: #2970ff;
  --light-blue: #387ef5;
  --black: #000;
  --white: #fff;
  --shadow-color: rgba(227, 227, 227, 0.75);
  --background-color: #f9f9f9 !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  /* background-color: white; */
}

input {
  font-family: "Montserrat", sans-serif;
}

/* Loader CSS */
.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #2970ff 94%, #0000) top/9px 9px
      no-repeat,
    conic-gradient(#0000 30%, #2970ff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}

/* .radio-button {
  display: inline-block;
  padding: 8px 16px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
} */

/* .radio-button input[type="radio"] {
  display: none;
} */
/* background-color: #007bff; */
/* color: white; */

/* .radio-button input[type="radio"]:checked + span {
  border: 1px solid #007bff; 
  color: #000;
  border: none;
} */